{% load static %}
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <script src="https://js.stripe.com/v3/"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js" integrity="sha512-AgmqJHj+DC5Yfop2ElaIJWP0FzpElcgy0h/I97tj2qnZGMA+QAc+uaVwMGpvSBzdExkRm3fq7xv++v0UtkEddg==" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.7/jsrender.js" integrity="sha512-m93s5PZ2ZcEhkITbePMe/eDpb4JliXYWtPONf6R6/oCeoqizf14ckg8NeMHtS/X5EJ8mANQtUj63/mYgbtw3NA==" crossorigin="anonymous"></script>
    {% include "base/js_template.html" %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js" integrity="sha512-tDbYOP/wSP09FLGvArLOo45Q2AnPV5VcJ4maDe4j8BidRKhyCYnlKRLuzfxPodOY1Bl4ZXJIErpoZ4Abvz2Fog==" crossorigin="anonymous"></script>

    <script src='{% static "js/csrf.ajax.js" %}'></script>

    <script src='{% static "js/ecommerce.sales.js" %}'></script>

    <script src='{% static "js/ecommerce.js" %}'></script>

    <script src='{% static "js/ecommerce.main.js" %}'></script>



    

    